.container {
  padding: 0 0;
}

.header {
  padding: 15px var(--screen-padding);
}

.bg {
  padding: 20px var(--screen-padding);
  margin: 0 auto;
  background-image: url('/bg.jpg');
  height: 300px;
  background-size: cover;
  background-position: center center;
}

.content {
  max-width: 750px;
  margin: 0 auto;
}

.content h1, .content p, .content a {
  color: white;
}

.content a {
  display: inline-block;
  margin: 0 0;
}

.content p {
  margin-bottom: 0;
}